<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>

  
<fieldset>
 <legend> Printing GeoAdmin: </legend>
  <form action="/print" method=get>
 <label for="oui" class="inline">url:</label>
     
      <input type=text name=url size=500  value="http://s.geo.admin.ch/27498582">
      <input type=submit value=Print>
    </fieldset>
       
  </form>
  
  or use it as a cheap static map
  <pre> &lt;img src=&quot;http://radiant-taiga-3006.herokuapp.com/print?url=http%3A%2F%2Fs.geo.admin.ch%2F8924fbbc&quot; /&gt;</pre>
  <img src="http://radiant-taiga-3006.herokuapp.com/print?url=http%3A%2F%2Fs.geo.admin.ch%2F8924fbbc" />
  
</div>


